html{width: 98%;min-height: 100vh;display: flex;align-items: center;justify-content: center;flex-direction: column;overflow: hidden}

body{width: 98%;min-height: 100vh;display: flex;align-items: center;justify-content: center;flex-direction: column;overflow: hidden;}

input{border: 1px solid #3240DB;width: 80%;height: 30px;padding: 10px;margin: 10px;border-radius: 25px}
